<div *ngIf="masterPerfil">
	<h3>Detalhes da conta de {{this.masterPerfil.perfilBase.nome}}</h3>
	<div>
		<labe>email:
			<input [(ngModel)]="this.masterPerfil.email" placeholder="email"/>
		</labe>
	</div>
	<div>
		<labe>senha:
			<input [(ngModel)]="this.masterPerfil.senha" placeholder="senha"/>
		</labe>
	</div>
	<div>
		<labe>dtNascimento:
			<input [(ngModel)]="this.masterPerfil.dtNascimento" placeholder="dtNascimento"/>
		</labe>
	</div>
	<button (click)="save()">Salvar</button>
</div>
<div>
	<app-detalhes-perfil [perfil]="perfilB"></app-detalhes-perfil>
</div>
