<div>
	<div>
		<button (click)="goConta()">Minha conta</button>
	</div>
	<div class="buscFilmes">
		<input [(ngModel)]="nomeFilme" type="text" placeholder="Digite o nome do filme"/>
		<div>
		<span>A busca é feita usando o banco de dados da </span> <a href="https://www.themoviedb.org/">TMDb</a>
		</div>
	</div>
	<div>
		<button (click)="buscarFilmeNome()">Buscar</button>
	</div>

</div>

<div *ngIf="filmes.length > 0">
	<h1>Filmes encontrados</h1>
	<ul class="filmes">
		<li *ngFor="let filme of filmes">
			<app-filme [filme]="filme"></app-filme>
			<button (click)="addWatchLater()">Adicionar a lista</button>
		</li>
	</ul>
</div>